In [2]:
import mysql.connector

In [3]:
mydb=mysql.connector.connect(host="localhost",
                            user="root",
                            password="2580",
                            database="db1")

AttributeError: module 'mysql.connector' has no attribute 'connect'

In [18]:
curser=mydb.cursor()

In [19]:
query="SELECT *FROM EMP"

In [20]:
curser.execute(query)

In [21]:
table=curser.fetchall()

In [22]:
print("Tabel Database\n")
for row in table:
    print(row)
curser.close()

Tabel Database

(101, 'MAHESH BABAI', 100000, 'SURYAPET')
(102, 'MAHENDRA', 200000, 'JAGITYAL')
(103, 'NAVEEN', 300000, 'KORTLA')

True